<%= form_tag('/blog_indices', :multipart => true) do %>

<!--タイトル入力欄 -->
<div class="input" style="float:left;">
	<div class="title">
		<%= label_tag "title" %>
		<br>
		<%= text_field_tag "blog_indices[title]" ,'', :size=>'50x1', :onKeyUp => "ShowHtml( 'inputTiltle' , value );" %>
	</div>

	<div id="content_list"></div>
	<input type="button" value="テキストの追加" id="text_add">
	<input type="button" value="画像の追加" id="image_add">

	<!--送信ボタン -->
	<div class="actions">
		<%= submit_tag "送信" , disable_with: "送信中...",id: "commit" %>
	</div>
	<% end %>
</div>
<!--記事プレビュー欄 -->
<!--タイトルプレビュー-->
<div id=sammay>
	<div id="preview" style="float:left;">
		記事プレビュー欄
			<h3><div id='inputTiltle'></p></h3>
	</div>					
</div>

<!-- JavaScript -->
<script>
	$(function($) {
		var len_list = $("#content_list > li").length + 1;
		// "テキストの追加"ボタンを押した場合の処理
		$("#text_add").click(function() {
			// テキスト入力欄を追加
			var new_list = '<li style="list-style:none;"><div class="text_' + len_list + '"> <label for="text_' + len_list + '">Text ' + len_list + '</label><br><textarea id="blog_textes_' + len_list + '" name="blog_textes[' + len_list + ']" rows="10" cols="50" onKeyUp="ShowHtml( &#39;' + len_list + '&#39; , value );" /></div></li>';
			$("#content_list").append(new_list);
			//共通処理を呼び出し
			contentAddCommon();
		})
		// "イメージの追加"ボタンを押した場合の処理
		$("#image_add").click(function() {
			// イメージ入力欄を追加
			var new_list = '<li style="list-style:none;"><div class="image_' + len_list + '"><label for="image_' + len_list + '">Image ' + len_list + '</label><br><input type="file" accept="image/*" id="blog_images_' + len_list + '" name="blog_images[' + len_list + ']" /></div></li>';
			$("#content_list").append(new_list);
			//プレビュー用スクリプト追加
			var new_script = '<script>$(\'input[type=file]\').iPreview({target :  \'#' + len_list + '\'});<\/script>';
			$("#preview").append(new_script);
			//共通処理を呼び出し
			contentAddCommon();
		})
		//コンテンツ追加時の共通処理を定義
		function contentAddCommon() {
			//プレビュー用欄追加
			var new_preview = '<li><div class="titlePreview"><div id= \'' + len_list + '\';></div></div></li>';
			$("#preview").append(new_preview);
			// 削除ボタンの一旦全消去し、配置し直す
			$('#content_list input[type="button"]').remove();
			len_list++;
			for (var i = 0; i < len_list; i++) {
				var new_btn = '<input type="button" value="削除">';
				$('#content_list > li').eq(i).append(new_btn);
			}
		}

		// 削除ボタンを押した場合の処理
		$(document).on('click', '#content_list input[type="button"]', function(ev) {
			//入力欄を削除
			var idx = $(ev.target).parent().index();
			$('#content_list > li').eq(idx).remove();
			var len_list = $('#content_list > li').length;
			// 入力欄がひとつになるなら、削除ボタンは不要なので消去
			if (len_list == 1)
				$('#content_list input[type="button"]').remove();

			//プレビュー欄の削除
			$('#preview > li').eq(idx).remove();
			var len_list = $('#preview > li').length;
			// 入力欄がひとつになるなら、削除ボタンは不要なので消去
			if (len_list == 1)
				$('#preview input[type="button"]').remove();
		})
	}); 
</script>

<!-- 記事プレビュー用JS -->
<script type="text/javascript">
	function ShowHtml(idn, str) {
		document.getElementById(idn).innerHTML = str.replace(/[\n\r]/g, "<br />");
	}
</script>
