<table>
	<thead>
		<tr>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<div id="title">
			プログラミングの勉強中の
			<a href="https://twitter.com/Def_Drank" target="_blank">@Def_Drank</a>です。
			<br>
			勉強の一環でブログサイトを作ってみようという試み。構築のすったもんだを記事に書いていこうという魂胆。
			<br>
			叱咤激励、バグ報告、お仕事のお話など頂ける...。そんな奇特な方がいらっしゃいましたら、大変お手数ですが、
			<br>
			<a href="https://twitter.com/Def_Drank" target="_blank">@Def_Drank</a> へお願いします。しっぽ振って喜びます。
			<br>

		</div>
	</tbody>
</table>
