<div class=title>
	<h1><%= @result_blog_index_id[0].title %></h1>
</div>

<% for num in 0..@result_blog_index_id[0].num_of_text-1 do  %>
<% if @result_blog_texts[num].class != NilClass  %>
<%= br(@result_blog_texts[num].text.html_safe) %>
<% end %>
<% end %>

<br clear="left">
<%#= link_to '更新', edit_blog_index_path(@blog_index) %> |
<%= link_to '戻る', blog_indices_path, :id => 'blog_indeices'%>
