/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* スマートフォン、タブレット、PCに共通なスタイルはここ(@media宣言の外に書く) */

body {
	background-color: #E5E5E5;
	/*全体の背景色-----------------*/
	font-family: 'Lucida Grande',
	'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
	Meiryo, メイリオ, sans-serif;
	color: #666666;
	/*基本の文字色-----------------*/
	margin: 0 auto;
}

/*START---------application.html.erb---------------*/
/*サイトのタイトル文字-----------------*/
#logo {
	position: relative;
}

#logo_image {
	width: 90%;
	height: 90%;
	position: absolute;
	top: 10px;
	left: 0px; /* Horizontally centered. */
}

#snsmenu {
	position: absolute;
	top: 10px;
	left: 10px; /* Horizontally centered. */
	overflow: hidden;
}

#menubar {
	position: absolute;
	bottom: 0px;
	overflow: hidden;
	width: 100%;
	height: 30px;
	background-color: #666666;
	opacity: 0.9;
}

#snsmenu li, #menubar li {
	float: left;
	margin-right: 0px;
}

#menubar a {
	color: #ffffff;
}

#menubar a:hover {
	background-color: #ffffff;
	border-color: #DF212C;
	color: #DF212C;
}

.menubutton::before, .menubutton::after, .showlink::before, .showlink::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.menubutton, .menubutton::before, .menubutton::after, .showlink, .showlink::before, .showlink::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.menubutton {
	display: inline-block;
	width: 200px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	line-height: 30px;
	outline: none;
	background-color: #666666;
	border: 2px solid #666666;
	opacity: 0.9;
}

.showlink {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: left;
	outline: none;
	background-color: #ffffff;
	border: 2px solid #666666;
	color: #ffffff;
	opacity: 0.9;
	text-decoration: none;
	margin: 0;
}

.showlink:hover {
	background-color: #FE4647;
	border-color: #DF212C;
	color: #ffffff;
}

/*----コンテンツ部分の中のミニタイトル部分--------*/

h1 {
	font: bold 120%;
	color: #666666;
	border-bottom: #DF212C solid 10px;
}

#wrapper {
	/*----背景色--------*/
	border: #757472 solid 1px;
	/*----外枠の線の色・種類・太さ--------*/
	clear: both;
	margin: 0 auto;
	float: left;
	display: inline-block;
	margin: 0;
}

.sns-line {
	float: right;
}

.fb-like-box, .fb-comments, .twitter_wg {
	width: 100%;
}

.thumbnail-img {
	display: block;
	clear: both;
}
.detail-img {
	display: block;
	clear: both;
}

/*index.html.erb-----------------------*/
.sammary_image {
	width: 50%;
	height: 50%;
}

/*-form.html.erb-----------------------*/
.input {
	width: 49%;
	border: 3px double #bfbfbf;
}
#preview {
	width: 49%;
	border: 1px solid #000000;
}

#blog_title {
	width: 90%;
}

#blog_texts_0 {
	width: 90%;
	height: 300px;
}
/*pタグ空白消去*/

p {
	margin: 0px;
	padding: 0px;
}
/*IMGボーダー非表示*/

img {
	border: none;
	vertical-align: top;
	width: 90%;
	height: 90%;
}
/*TABLEボーダー非表示*/

table {
	border: none;
}
/*IE--BRバグ回避*/

br {
	letter-spacing: normal;
}
/*ビルダー表示崩れ回避*/

br.clear {
	clear: both;
	padding: 0px;
	margin: 0px;
	height: 0px;
	line-height: 0;
}
/*リスト空白消去*/

ul, ol, li {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.contents {
	margin: 0px auto;
}
.text {
	margin: 0px auto;
}

/* タブレットとスマホに共通なスタイルはここ */
@media screen and (max-width: 1000px) {
	body {
		/*基本の文字サイズ-----------------*/
		line-height: 100%;
	}

	#wrapper {
		width: 100%;
		margin: 0 auto;
	}

	.sns-line {
		width: 100%;
	}
	.thumbnail-img {
		width: 60%;
	}
	.detail-img {
		width: 60%;
	}
	.title {
		font-size: 40px;
	}
	.sammary_text {
		font-size: 20px;
	}

}
/* PCのみのスタイルはここ */
@media screen and (min-width: 1001px) {
	body {
		font-size: 12px;
		/*基本の文字サイズ-----------------*/
		line-height: 170%;
	}
	#wrapper {
		width: 74%;
	}

	.sns-line {
		width: 25%;
	}
	.thumbnail-img {
		width: 40%;
	}
	.detail-img {
		width: 60%;
	}
}
